video {
    background: #222;
    margin: 0 0 20px 0;
    vertical-align: top;
    --width: 48vw;
    width: var(--width);
    height: calc(var(--width) * 0.6); }

    ul.alluserlist {
        list-style-type: none;
          margin: 0;
          padding: 0;
          display: flex;
    }
    
    ul.alluserlist li {
        margin-right: 10px;
    }
